h1{
    color:aliceblue;
    text-align: center;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
}
h2{
    color:aliceblue;
    text-align: center;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}
h21{
    color:aliceblue;
    font-size: 30px;
    text-align: right;
    font-family: "Times New Roman", Times, serif;

}



h3{
    color:darkseagreen;
    font-size: 30px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h4{
    color:aliceblue;
}
h5{
    color:aliceblue;
}
body1{
    color:aliceblue;
    font-family: "Times New Roman", Times, serif;
    text-align: center;

}
a{
    size: 20px;

}
a{
    color:aliceblue;
    font-family: "Times New Roman", Times, serif;
    align-items: center;
    align-self: auto;
   
}

body{
    color:aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
}
p{
    color:aliceblue;
}

a {
        color: black;
        display: inline-block; /* Make the <a> tags inline-block to respect text-align */
        margin: 0 110px;
}
a:visited{
    color:rgb(134, 129, 75);
}
a:hover{
    color:aqua;

}
a:active{
    color:aliceblue;
}






body{
    background-color:black;
}
